.test {
    color: red;

    a {
        color: blue;
    }
}

.section {
    color: red;

    h2 {
        background: blue
    }

    a {
        i {
            color: green;
        }

        p {
            color: purple
        }

    }
}